@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

*{
	font-family: 'Francois One', sans-serif;
	
}

body {
	margin: 0;
	padding: 0;
	overflow-y: hidden;

}
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}
header h1 {
	margin: 0;
}
aside {
	background-color:#800080;
	padding: 20px;
	float: left;
	width: 20%;
	height: 100vh;
	transition: width .7s;

}
main {
	padding: 20px;
	margin-left: 20%;
	min-height: 100vh;
}
aside nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav{
	flex-direction: column;
	display: flex;
	justify-content: center;
}
aside nav ul li {
	margin-bottom: 10px;
}
aside nav ul li:hover {
	background-color: rgb(255, 255, 255);
	color:#800080;

}
aside nav ul li a {
	color:white;
	text-decoration: none;
	font-size: 20px;
	display: flex;
	align-items: center;
	height: 60px;
}

button {
 width: 100%;
 justify-content: end;
 display: flex;
 background-color: #800080;
 color: white;

}
.contentTitle{
	display: flex;
	color: #fff;
	width: 100%;
	align-items: center;
}
#sidebar.collapsed {
    width: 50px;
}


#titulo.title{
	display: none;	
	
}

#tituloAba1.none{
	display: none;	
}
#tituloAba2.none{
	display: none;	
}
#tituloAba3.none{
	display: none;	
}

#sidebar-toggle {
    border: none;
    padding: 10px;
    cursor: pointer;
	font-size: 30px;
}

#sidebar-toggle.menu{
	justify-content: center;

}